{%extends "layout.html"%}
{%block content%}
<div class="home">
    <div id="welcomeDiv">
					<h2>Welcome to our website</h2>
				</div>

				<div id =newsletter>
					<form action="subscribe.php" method="post">
						<label>
							<input type="text" name="Name">
						</label>
						<br><br>
						<label>
							<input type="email" name="Email">
						</label>
						<br><br>
						<input type="submit" name="Submit" value="Sign Up">
					</form>
				</div>
				<div class="clear"></div>
				<div id="left">
					<img src="{{url_for('static',filename='images/che.png')}}" alt="Che Guevara"/>
					<p>Che was a fighter, a soldier not olle gunner of manchester united. He was more of an
					 arsene Wenger or sir Alex ferguson type</p>
				</div>

				<div id="right">
					<img src="{{url_for('static',filename='images/buju.png')}}">
					<p>In entertainment news, Buju Banton has been released from prison. can you believe that shit!
					What does it take for one to roam free these days? I guess it is all about the money now. </p>
				</div>
</div>
{%endblock%}